//.container {
//  display: flex;
//  flex-direction: column;
//}

.content {
  margin: 150px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.action-button {
  font-size: 2rem;
}

.home__game-title {
  font-size: 3rem;
  height: 2rem;
}

:host ::ng-deep .action-button {
  height: 4rem !important;
}
