.container {
  padding: 2rem;
}

.content {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.game-title {
  font-size: 4rem;
  margin: 30px 0;
}

.games-card {
  width: 100%;
}

.games-table {
  width: 100%;
}

.loading, .no-games {
  text-align: center;
  padding: 3rem;
  color: #999;
}

.actions {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

th.mat-header-cell, td.mat-cell {
  text-align: center !important;
}
