.navbar {
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: antiquewhite;
  border-radius: 2rem;
  box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.15);

  &__wrapper {
    display: flex;
    align-items: center;
//    justify-content: center;
    padding: 0.75rem 1rem;
  }

  &__logo:hover {
    cursor: pointer;
  }
}

