.navbar {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 2rem;

  &__wrapper {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
  }

  &__logo:hover {
    cursor: pointer;
  }
}

